        /* 초기화 */

        html{
            scroll-behavior: smooth;
        }
        body {
            margin: 0;
            padding: 0;
            color: #B8B8B8;
            font-family: 'Pretendard';
            font-size: 1rem;
            overflow-x: hidden;

        }
        li {
            list-style: none;
        }
        a {
            color: #B8B8B8;
            text-decoration: none;
        }

        #header {
            width: 100%;
            display: flex;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;
        }
        #header .inner {
            width: 80%;
            margin: 0 auto;
            display: flex;
            z-index: 1000;
            justify-content: space-between;
            margin-top: 34px;
            /* border: 1px solid red; */
        }
        #header .inner .header_menu {
            display: flex;
            justify-content: space-between;
            margin: 0;
        }

        #header .inner h1 {
            font-size: 16px;
            margin: 0;
        }

        #header .menu_gnb{
            width: 100vw;
            height: 0vh;
            background: #222222;
            z-index: 600;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }

        #header .menu_gnb ul{
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: 3rem;
            margin-top: 10%;
        }

        #header .menu_gnb ul li{
            /* border: 1px solid red; */
            margin: 10px 0;
        }

        #header .menu_gnb a{
            display: inline-block;
            transition: all 0.4s ease-in-out;
            position: relative;
        }

        #header .menu_gnb a::after{
            content: '';
            height: 0%;
            width: 0%;
            background: white;
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: all 0.5s ease-in-out;
        }
        #header .menu_gnb a:hover{
            color: white;
            transform: scale(1.05);
        }

        #header .menu_gnb a:hover:after{
            width: 100%;
            height: 5%;
        }



        #header .menu_gnb.act{
            height: 100vh;
        }

        /* 메뉴 아이콘 */
        .icon{
            position: relative;
        }
        .icon::before,
        .icon::after{
            content: '';
            width: 1.7rem;
            height: 0.5rem;
            position: absolute;
            margin-top: 5px;
            transition: all 0.2s ease-in-out;
        }
        .icon::before{
            border-top: 1px solid #B8B8B8;
            left: -50px;
            top: 0;
        }
        .icon::after{
            border-top: 1px solid #B8B8B8;
            left: -40px;
            top: 0.5rem;
        }

        .icon.act:before{
            width: 1.5rem;
            height: 1.5rem;
            left: -50px;
            transform: rotate(45deg);
            /* border: 1px solid red; */
        }
        .icon.act::after{
            width: 1.5rem;
            height: 1.5rem;
            left: -33px;
            top: 0rem;
            transform: rotate(-45deg);
        }

        .header_menu:hover .icon.act_close::before{
            left: -40px;
        }
        .header_menu:hover .icon.act_close::after{
            left: -50px;
        }

        #footer {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 1000;
        }

        #footer .inner {
            width: 80%;
            margin: 0 auto 34px;
            display: flex;
            justify-content: space-between;
        }

        #footer .inner h4 {
            margin: 0;
        }

        .section a{
            display: block;
            width: 100%;
            height: 100%;
            /* border: 1px solid red; */
        }
        .main {
            width: 100%;
            display: flex;
        }
        .main .inner {
            width: 97%;
            /* border: 1px solid red; */
            display: flex;
            position: fixed;
            align-items: center;
            right: 0;
            top: 0;
            z-index: 500;
        }

        .main .inner .main_bg1 {
            width: 30%;
            height: 100vh;
            background: #222222;


        }

        .main .main_bg1 .wrap {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 50px;
        }
        .main .inner .main_bg2_line_out {
            width: 40%;
            height: 1px;
            background: #B8B8B8;
            position: relative;
        }
        .main .inner .main_bg2_line_in {
            width: 30%;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: red;
            /* animation: main_bg2_ani 5s ease-in-out infinite alternate; */
        }

        .main .inner .main_bg3 {
            width: 30%;
            height: 100vh;
            background: #222222;
            position: relative;
            z-index: 500;
        }

        .main .main_bg3 .wrap {
            /* border: 1px solid red; */
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            padding: 0;
            margin-left: 50px;
        }
        .main .main_bg3 .wrap li {
            width: 15%;
            text-align: center;
            padding: 0;
            /* border: 1px solid red; */
        }
        .main .main_bg3 .wrap li:nth-child(2) {
            margin-left: 20px;
        }
        .main .main_bg3 .wrap li:nth-child(3) {
            width: 20%;
            /* border: 1px solid red; */
        }
        .main .main_bg3 .soundbar_out {
            background-color: white;
            width: 100%;
            height: 1px;
            position: relative;
        }

        .main .main_bg3 .soundbar_in {
            background-color: red;
            width: 50%;
            height: 1px;
            position: absolute;
            left: 50%;
            top: 0;
            transition: all 0.3s ease-in-out;
        }
        .main .wrap li {
            padding: 0 10px;
        }
        .main .wrap span {
            display: inline-block;
        }



        .sound_on:hover,
        .sound_off:hover{
            animation: sound 0.8s ease-in-out infinite alternate;
        }
    

        @keyframes sound {
            0%{
                transform: translateY(0px);
            }100%{
                transform: translateY(-4px);
            }
        }
        /* 가로이동 */
        .container {
            height: 100vh;
            display: flex;
            white-space: nowrap;
        }
        .panel {
            background-size: cover;
            min-width: 100vw;
            height: 100vh;
            position: relative;
        }

        .works{
            display: flex;
        }
        .skills{
            display: flex;
        } 

        .skills_content1 {
            height: 100vh;
            background: url("../image/skills_bg.png") center top;
        }

        .skills_content2 {
            height: 100vh;
            background: url("../image/skills_bg.png") center top;
            position: relative;
        }

        .about_content{
            height: 100vh;
            background: url("../image/about_bg.png") center top;
            position: relative;
        }

        .contact_content{
            height: 100vh;
            background: url("../image/contact_bg.png") center top;
            position: relative;
        }
        
        .container img[src*='bg.png']{
            width: 110%;
            height: 100%;
            object-fit: cover;
        }

        .works .works_content1 img:nth-child(2){
            position: absolute;
            left: 33.5%;
            top: 3%;
        }

        .works .works_content2 img:nth-child(1){
            object-fit: cover;

        }
        .works .works_content2 img:nth-child(2){
            position: absolute;
            left: 33.5%;
            top: 3%;
        }

        @keyframes bg_ani {
            0%{
                transform: scale(1);
            }100%{
                transform: scale(1.02);
            }
        }



        .sec_wrap_con{
            position: absolute;
            left: 6.5%;
            top: 47.5%;
            z-index: 500;
            width: 70vw;
        }
        .sec_wrap {
            display: flex;
            display: none;
        }
        .sec_wrap:nth-child(1){
            display : flex;
        }
        .sec_wrap .content_title {
            font-size: 1.8rem;
        }

        .sec_wrap .content_wrap{
            margin-top: 30px;
            padding-left: 5px;
            text-shadow: 2px 2px 4px black;
            width: 70%;
        }
        
        .sec_wrap p {
            font-size: 1.3rem;
            display: inline;
            line-height: 2rem;
        }
        .sec_title{
            width: 20%;
            font-size: 2rem;
            font-weight: bold;
            color: white;
            text-align: center;
            /* border: 1px solid red; */
        }

        .content_hash{
            margin-left: 50px;
        }

        .content_wrap .skills_des{
            display: flex;
        }

        .content_wrap .content_wrap div:nth-child(1){
            margin-top: 20px;
        }
        .content_wrap .skills_des p{
            font-size: 1rem;
            margin-left: 50px;
        }
        .content_wrap .skills_des h3{
            width: 10%;
        }

        .content_wrap .about_des{
            display: flex;
        }

        .content_wrap div:nth-child(1){
            margin-top: 20px;
        }
        .about_des p{
            font-size: 1rem;
            margin-left: 0px;
        }
        .about_des h3{
            width: 30%;
        }

        .content_wrap .contact_des{
            display: flex;
        }

        .content_wrap .content_wrap div:nth-child(1){
            margin-top: 20px;
        }
        .content_wrap .contact_des p{
            font-size: 1rem;
            margin-left: 0px;
        }
        .content_wrap .contact_des h3{
            width: 30%;
        }